.IconWrapper{
    display: inline-flex;
    align-self: center;
    position: relative;
    height: 1em;
    width: 1em;
}

.IconWrapper > svg{
    height: 1em;
    width: 1em;
    fill: currentColor;
    position: absolute;
    bottom: -0.125em;
}

.AppLogo{
    @apply text-secondary-800 dark:text-secondary-500
}

