
@media (pointer: fine) and (hover: hover){
  .Button:hover{
    will-change: opacity, transform;
  }

  .Button.filled{
    @apply hover:before:opacity-5;
  }

  .Button.primary{
    @apply hover:bg-primary-800 dark:hover:bg-primary-600
  }

  .Button.link{
    @apply hover:opacity-80
  }

  .Button.underline-effect{
    @apply hover:after:translate-x-0 hover:after:opacity-70 
  }

  .Button.icon{
    @apply hover:opacity-90
  }
}

.Button.underline-effect {
  @apply after:w-full after:absolute after:h-[1px] after:bg-primary-700 dark:after:bg-primary-500 after:opacity-0 after:bottom-0 after:translate-x-[-100%] after:transform-gpu after:transition-all;
}
.Button {
  @apply inline-grid grid-flow-col gap-x-2 relative overflow-hidden isolate items-center justify-center cursor-pointer transform-gpu select-none;
  transition: 0.35s ease;
  transition-property: opacity, transform;
  --pseudo-bg: currentColor;
  word-spacing: 2px;
  backface-visibility: hidden;
}

.Button:not(.no-active-effect){
  @apply active:scale-[0.975] sm:active:scale-[0.9925];
}

.Button.filled{
  @apply before:-z-[1] before:transition-opacity before:opacity-0 active:before:opacity-10;
}

.Button.active-scale-x{
  @apply active:scale-x-[0.975] sm:active:scale-x-[0.9925]
}

.Button.active-scale-y{
  @apply active:scale-y-[0.975] sm:active:scale-y-[0.9925]
}


.Button.sm {
  @apply px-3 h-[38px] text-sm rounded-sm;
}

.Button.md {
  @apply px-4 h-[44px] text-base xs:text-[1.03rem] md:text-[1.075rem] rounded-md;
}

.Button.lg {
  @apply px-7 h-[56px] text-lg rounded-lg;
}


.Button.link {
  @apply focus:opacity-[.85] active:opacity-70
  lg:text-[0.975em] mx-2 p-0;
  min-width: fit-content;
  height: fit-content;
}

.Button.link.link-arrow.arrow-right{
  @apply pr-1;
}

.Button.link.link-arrow.arrow-left{
  @apply pl-1;
}

.Button.link-arrow .IconWrapper{
  @apply transition-transform transform-gpu;
}

.Button.link-arrow.arrow-right:hover .IconWrapper{
  @apply translate-x-1
}

.Button.link-arrow.arrow-left:hover .IconWrapper{
  @apply -translate-x-1
}

.Button:not(.link){
  @apply font-medium;
}

.Button.filled {
@apply outline-none ring-offset-white dark:ring-offset-black
ring-offset-1 ring-primary-800 dark:ring-primary-600;
  width: fit-content;
}

.Button.filled:not(.no-bg){
  @apply focus-visible:ring-[2px];
}

.Button.filled.no-bg:not(.hide-plain-focus){
  @apply focus:ring-[2px];
}

.Button.icon {
  @apply px-0 h-[32px] w-[32px] text-base rounded-full before:opacity-5 active:before:opacity-20 opacity-80 active:opacity-100;
}

.Button.primary {
  @apply bg-primary-700 text-white dark:bg-primary-500 dark:text-black 
  active:bg-primary-900 dark:active:bg-primary-700;
}

.Button.primary-text{
  @apply text-primary-700 dark:text-primary-400;
}

.Button.outlined{
  @apply after:border after:bg-[transparent] after:border-primary-700 dark:after:border-primary-500
}
