.BottomSheet {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  touch-action: none;
}

.BottomSheet.active {
  pointer-events: auto;
}

.BottomSheetContentWrapper {
  height: 100%;
  width: 100%;
  display: grid;
  align-items: flex-end;
  position: relative;
}

.BottomSheetContentWrapper.active {
  pointer-events: auto;
}

.BottomSheetContent {
  box-shadow: 0 -25px 50px -12px rgb(0 0 0 / 0.25);
  @apply rounded-t-lg;
  pointer-events: auto;
  z-index: 100;
  position: fixed;
  height: var(--height);
  touch-action: none;
  touch-action: initial;
  @apply w-full md:w-9/12 bg-white dark:bg-gray-800 left-0 md:left-[12.5%] rounded-t-lg md:rounded-lg;
}

