.App {
  @apply bg-true-gray-50 dark:bg-[#111] text-gray-900 dark:text-true-gray-50 min-h-screen grid items-start min-w-[min(90rem,100%)] mx-auto;
}

@keyframes ldio-yna0his6739 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-yna0his6739 div {
  left: 48px;
  top: 32px;
  position: absolute;
  animation: ldio-yna0his6739 linear 1s infinite;
  background: var(--app-loader-color);
  width: 4px;
  height: 12px;
  border-radius: 1.92px / 1.92px;
  transform-origin: 2px 18px;
}
.ldio-yna0his6739 div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.875s;
  background: var(--app-loader-color);
}
.ldio-yna0his6739 div:nth-child(2) {
  transform: rotate(45deg);
  animation-delay: -0.75s;
  background: var(--app-loader-color);
}
.ldio-yna0his6739 div:nth-child(3) {
  transform: rotate(90deg);
  animation-delay: -0.625s;
  background: var(--app-loader-color);
}
.ldio-yna0his6739 div:nth-child(4) {
  transform: rotate(135deg);
  animation-delay: -0.5s;
  background: var(--app-loader-color);
}
.ldio-yna0his6739 div:nth-child(5) {
  transform: rotate(180deg);
  animation-delay: -0.375s;
  background: var(--app-loader-color);
}
.ldio-yna0his6739 div:nth-child(6) {
  transform: rotate(225deg);
  animation-delay: -0.25s;
  background: var(--app-loader-color);
}
.ldio-yna0his6739 div:nth-child(7) {
  transform: rotate(270deg);
  animation-delay: -0.125s;
  background: var(--app-loader-color);
}
.ldio-yna0his6739 div:nth-child(8) {
  transform: rotate(315deg);
  animation-delay: 0s;
  background: var(--app-loader-color);
}
.loadingio-spinner-spinner-f2twgxfimmb {
  width: var(--app-loader-size);
  height: var(--app-loader-size);
  display: inline-flex;
  overflow: hidden;
  background: transparent;
  justify-content: center;
  align-items: center;
  --app-loader-color: currentColor;
  --app-loader-size: 48px;
  --app-loader-origin: -0% -0%;
  --app-loader-scale: 0.5;
}
.ldio-yna0his6739 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(var(--app-loader-scale));
  backface-visibility: hidden;
  transform-origin: var(--app-loader-origin);
}
.ldio-yna0his6739 div {
  box-sizing: content-box;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: #000;
}

.light ::-webkit-scrollbar-corner,
.light ::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #f8f8f836;
}

.light::-webkit-scrollbar-thumb,
.light ::-webkit-scrollbar-thumb {
  background-color: #0a0a0a8f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.637);
}

.light::-webkit-scrollbar-thumb:hover,
.light ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.548);
}

@media (min-width: 1920px) {
  html {
    font-size: 18px;
  }
}

input,
select,
textarea {
  font-size: 16px;
}

.fill-after-before:after,
.fill-after-before:before,
.fill-after:after,
.fill-before-after:after,
.fill-before-after:before,
.fill-before:before,
.pseudo {
  content: "";
  position: absolute;
  --_size: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  pointer-events: none;
  background-color: var(--pseudo-bg, initial);
}

.before-interact::before,
.after-interact::after,
.pseudo-interact {
  z-index: -1;
  background-color: currentColor;
  @apply transition-opacity opacity-0;
}

@media (pointer: fine) and (hover: hover) {
  .before-interact:focus::before,
  .after-interact:focus::after,
  .pseudo-interact:focus {
    @apply opacity-[0.15];
  }

  .before-interact:hover::before,
  .after-interact:hover::after,
  .pseudo-interact:hover {
    @apply opacity-10;
  }
}

.before-interact:active::before,
.after-interact:active::after,
.pseudo-interact:active {
  @apply opacity-20;
}

*,
:after,
:before {
  -webkit-tap-highlight-color: transparent;
  width: auto;
  width: var(--_size, initial);
  height: auto;
  height: var(--_size, initial);
}

html {
  font-family: "Source Sans Pro", sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  letter-spacing: 0.4px;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

body {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

@keyframes fade-appear {
  from {
    opacity: var(--fade-appear-from, 0);
  }
  to {
    opacity: var(--fade-appear-to);
  }
}

.fade-appear {
  animation: fade-appear var(--appear-duration, 150ms)
    var(--appear-ease, linear);
  --fade-appear-to: 1;
}

@keyframes fade-slide-y-appear {
  from {
    transform: translate3d(0, var(--slide-y-appear-from, -100%), 0)
  }
  to {
    transform: translate3d(0, var(--slide-y-appear-to, 0%), 0)
  }
}

.fade-slide-y-appear {
  animation: var(--appear-duration, 150ms)
    var(--appear-ease, linear);
  animation-name: fade-appear, fade-slide-y-appear;
  --appear-to: 1;
}

@keyframes fade-slide-x-appear {
  from {
    transform: translate3d(var(--slide-x-appear-from, -100%), 0, 0)
  }
  to {
    transform: translate3d(var(--slide-x-appear-to, 0%), 0, 0)
  }
}

.fade-slide-x-appear {
  animation: var(--appear-duration, 150ms)
    var(--appear-ease, linear);
  animation-name: fade-appear, fade-slide-x-appear;
  --appear-to: 1;
}

.lock-html,
.dialog-active,
.menu-active,
:root[data-lock] {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
  max-height: 100vh;
  max-height: -webkit-fill-available;
  max-height: -moz-available;
  max-height: stretch;
  overflow: hidden;
}

.dialog-active body,
.menu-active body {
  padding-right: var(--scroll-bar-width);
  overflow: hidden;
}

.initial-loading {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  background-color: var(--bg-color);
  --bg-color: #fff;
  align-content: center;
  justify-content: center;
  row-gap: 8px;
}

.initial-loading > div {
  width: 48px;
  height: 48px;
}

@media (prefers-color-scheme: dark) {
  .initial-loading {
    --bg-color: #000 !important;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    color: #fff;
    background-color: #121212;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
    color: #000;
    background-color: #fff;
  }
}

:root.light {
  color-scheme: light !important;
  color: #000;
  @apply bg-true-gray-50;
}

:root.dark {
  color-scheme: dark !important;
  color: #fff;
  @apply bg-[#111];
}

button,
img,
svg,
.badge,
.no-select,
.pseudo,
*:disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

.text-title {
  @apply text-gray-800 dark:text-gray-100;
}

.text-caption {
  @apply text-gray-600 dark:text-gray-400 text-sm;
}

.text-body {
  @apply text-gray-700 dark:text-gray-300 text-base;
}

.will-change-opacity {
  will-change: opacity;
}

.default-border-color {
  @apply border-gray-200 dark:border-gray-700;
}

.chat-border-color {
  @apply border-gray-200 dark:border-gray-900;
}

.Alert {
  @apply py-4 px-3 border rounded-md grid grid-flow-col grid-cols-[auto,1fr] gap-x-3 items-start;
}

.Alert.warn {
  @apply border-warning-400 dark:border-warning-700 bg-warning-600 bg-opacity-20 text-gray-800 dark:text-gray-50;
}

.Alert.warn > .IconWrapper {
  @apply text-warning-600 dark:text-warning-400;
}

.Alert > .IconWrapper {
  align-self: flex-start;
  font-size: 1.35rem;
  opacity: 0.9;
}

.bg-inherit {
  background: inherit;
}

.bg-current {
  background: currentColor;
}

.before\:bg-\[inherit\]::before {
  background: inherit;
}

.before\:bg-current::before {
  background: currentColor;
}

.show-scrollbar-on-hover:not(:hover)::-webkit-scrollbar-corner,
.show-scrollbar-on-hover:not(:hover)::-webkit-scrollbar-track,
.show-scrollbar-on-hover:not(:hover)::-webkit-scrollbar-thumb {
  background: transparent;
}

#ui-overlay{
  display: inline;
}

.transition-slow{
  transition-duration: 300ms !important;
}