@keyframes spring-scale-enter {
  0% {
    transform: scale3d(0.75, 0.75, 1);
    opacity: 0;
  }
  3.4482758620689653% {
    transform: scale3d(0.7673611111111112, 0.7673611111111112, 1);
    opacity: 0.06944444444444445;
  }
  6.896551724137931% {
    transform: scale3d(0.7950906635802469, 0.7950906635802469, 1);
    opacity: 0.18036265432098764;
  }
  10.344827586206897% {
    transform: scale3d(0.8278068469221537, 0.8278068469221537, 1);
    opacity: 0.3112273876886145;
  }
  13.793103448275861% {
    transform: scale3d(0.8615754936693863, 0.8615754936693863, 1);
    opacity: 0.4463019746775453;
  }
  17.241379310344826% {
    transform: scale3d(0.8937007377738341, 0.8937007377738341, 1);
    opacity: 0.5748029510953363;
  }
  20.689655172413794% {
    transform: scale3d(0.9224994603869496, 0.9224994603869496, 1);
    opacity: 0.6899978415477986;
  }
  24.137931034482758% {
    transform: scale3d(0.9470805907132663, 0.9470805907132663, 1);
    opacity: 0.7883223628530652;
  }
  27.586206896551722% {
    transform: scale3d(0.9671429699090561, 0.9671429699090561, 1);
    opacity: 0.8685718796362245;
  }
  31.034482758620687% {
    transform: scale3d(0.982799627573676, 0.982799627573676, 1);
    opacity: 0.931198510294704;
  }
  34.48275862068965% {
    transform: scale3d(0.9944318696574729, 0.9944318696574729, 1);
    opacity: 0.9777274786298915;
  }
  37.93103448275862% {
    transform: scale3d(1.0025733734315685, 1.0025733734315685, 1);
    opacity: 1.010293493726274;
  }
  41.37931034482759% {
    transform: scale3d(1.0078223361259955, 1.0078223361259955, 1);
    opacity: 1.0312893445039821;
  }
  44.82758620689655% {
    transform: scale3d(1.0107784268024194, 1.0107784268024194, 1);
    opacity: 1.0431137072096777;
  }
  48.275862068965516% {
    transform: scale3d(1.0120006520587563, 1.0120006520587563, 1);
    opacity: 1.048002608235025;
  }
  51.72413793103448% {
    transform: scale3d(1.0119820902811227, 1.0119820902811227, 1);
    opacity: 1.0479283611244907;
  }
  55.172413793103445% {
    transform: scale3d(1.0111376261598446, 1.0111376261598446, 1);
    opacity: 1.0445505046393784;
  }
  58.62068965517241% {
    transform: scale3d(1.0098012038178923, 1.0098012038178923, 1);
    opacity: 1.039204815271569;
  }
  62.068965517241374% {
    transform: scale3d(1.0082296164359037, 1.0082296164359037, 1);
    opacity: 1.0329184657436148;
  }
  65.51724137931033% {
    transform: scale3d(1.0066103903731958, 1.0066103903731958, 1);
    opacity: 1.026441561492783;
  }
  68.9655172413793% {
    transform: scale3d(1.005071851444363, 1.005071851444363, 1);
    opacity: 1.020287405777452;
  }
  72.41379310344827% {
    transform: scale3d(1.0036939469192827, 1.0036939469192827, 1);
    opacity: 1.0147757876771306;
  }
  75.86206896551724% {
    transform: scale3d(1.0025188198109456, 1.0025188198109456, 1);
    opacity: 1.0100752792437822;
  }
  79.3103448275862% {
    transform: scale3d(1.0015604836962941, 1.0015604836962941, 1);
    opacity: 1.006241934785176;
  }
  82.75862068965517% {
    transform: scale3d(1.0008132260298392, 1.0008132260298392, 1);
    opacity: 1.003252904119357;
  }
  86.20689655172413% {
    transform: scale3d(1.000258580222353, 1.000258580222353, 1);
    opacity: 1.0010343208894112;
  }
  89.6551724137931% {
    transform: scale3d(0.9998708593908096, 0.9998708593908096, 1);
    opacity: 0.9994834375632382;
  }
  93.10344827586206% {
    transform: scale3d(0.9996213469343078, 0.9996213469343078, 1);
    opacity: 0.9984853877372314;
  }
  96.55172413793103% {
    transform: scale3d(0.9994813006484242, 0.9994813006484242, 1);
    opacity: 0.9979252025936969;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.enter {
  opacity: 0;
  transform: scale3d(0.75, 0.75, 1);
}

.enterActive {
  animation: spring-scale-enter 0.483s linear 0s !important;
  transform-origin: var(--scale-enter-origin, center) !important;
}

.exit {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

.exitActive {
  opacity: 0;
  transform: scale3d(0.825, 0.825, 1);
  transform-origin: var(--scale-exit-origin, center) !important;
  transition-property: opacity, transform;
  transition-duration: var(--spring-scale-exit-duration, 250ms);
  transition-timing-function: var(
    --spring-scale-exit-ease, cubic-bezier(0.47, 0, 0.75, 0.72)
  );
}

.enter,
.exit,
.enterActive,
.exitActive {
  will-change: opacity !important;
}
